## Windows
Thumbs.db

## gradle
/.gradle
/build

## ForgeGradle
/run

## eclipse
/.settings
/.metadata
/.classpath
/.project
/eclipse
/bin

## gradle generated eclipse runs
/*.launch

## intellij
/out
/.idea
/atlassian-ide-plugin.xml
/*.ipr
/*.iws
/*.iml
/classes

## Private Stuffs
/private.properties

## Jars
*.jar
!/gradle/wrapper/gradle-wrapper.jar

## OSX (adds a lot of garbage)
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Data Generator cache
/src/generated/resources/.cache/

# CraftTweaker generated docs
/docsOut
