<?xml version="1.0" encoding="UTF-8" standalone="no"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication"><stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="GradleStartServer"/><stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Botania"/><stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/home/tyler/programming/Botania/eclipse/assets"/></launchConfiguration>