# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
!gradle/wrapper/gradle-wrapper.jar

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
