html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 195px;
}

hr {
	height: 1px;
	background-color: #ccc;
}

.navbar {
	background-image: none;
	background-color: #33691E;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.navbar-brand {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
}

.navbar-brand img {
	height: 50px;
	top: -10px;
}

.header-btn {
	width: 100px;
	text-align: center;
}

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .active > a:hover {
	background-color: rgba(0, 0, 0, 0);
}

.navbar-inverse .navbar-nav > .active > a {
	background-image: none;
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0);
	border-bottom: #FFC107 3px solid;
}

.module-contents {
	margin-top: 80px;
	margin-bottom: 60px;
}

.total-dls {
	text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
	font-size: 26px;
}

.warning-txt {
	color: #B71C1C;
	font-weight: bold;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.whore-txt {
	color: #E6721D;
}

.hashlink, .moe-scroll, .hide-div {
	cursor: pointer;
}

.moe-scroll:hover {
	color: #33691E;
}

.btn-group {
	margin-bottom: 7px;
	margin-top: 7px;
} 

.btn-group-first {
	margin-top: 7px;
	height: 46px;
} 

.btn-group-first > .btn {
	height: 100%;
	padding-top: 13px;
	padding-bottom: 13px;
} 

.btn {
	width: 240px;
}

.btn-succeed {
	width: 211px;
}

.btn-succeed-deobf {
	width: 178px;
}

.btn-deobf {
	width: 100px;
}

.btn:hover, .btn:focus {
	color: #fff;
}

.carousel {
	height: 500px;
	width: 970px;
	margin-top: -18px;
	left: 50%;
	margin-left: -485px;
}

.carousel-caption {
	z-index: 10;
	height: 240px;
	margin-bottom: 60px;
	background-color: rgba(0, 0, 0, 0.2);
}

.carousel .item {
	height: 500px;
	background-color: #777;
}

#myCarousel {
	margin-bottom: 40px;
}

.carousel-inner {
	box-shadow: 0 3px 10px rgba(0,0,0,.23), 0 3px 10px rgba(0,0,0,.16);
}

.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	height: 500px;
	width: 100%;
}

.featurette-divider {
	margin: 20px 0;
}

.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}

.featurette-image {
	box-shadow: 0px 0px 20px 2px #000000;
	margin-top: 100px;
	margin-bottom: 10px;
}

.youtube {
	width: 912px;
}

.video-intro {
	margin-left: 20px;
	color: #888;
	font-weight: bold;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	width: 800px;
}

iframe {
	width: 290px;	
	height: 220px;
	margin: 15px 0px 0px 10px;
	box-shadow: -1px 0px 20px 2px #000000;
}

#moe-counter {
	margin-left: -15px;
	width: calc(100% + 30px);
	height: 180px;
	margin-bottom: 50px;
	text-align: center;
}

.moe {
	width: 68px;
	height: 150px;
	z-index: -1;
}

.section-header {
	font-size: 32px;
}

.entry-text {
	padding-left: 12px;
}

.entry-bookmark {
	color: #33691E;
}

.entry-bookmark:hover, .entry-bookmark:focus {
	text-decoration: none;
	color: #4AA825;
}

.text-muted b {
	color: #444;
	font-weight: normal;
}

.license-point-header {
	font-size: 30px;
}

.license-clauses {
	margin-left: 20px;
}

.license-clause {
	margin-top: 20px;
}

.license-clause-icon {
	font-size: 60px;
	display: inline-block;
}

.license-clause-info {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
	width: 900px;
}

.license-clause-name {
	font-size: 25px;
}

.license-clause-desc {
	margin-left: 10px;
}

.reddit-card {
	width: 520px;
	padding: 10px 10px 10px 10px;
	background-color: white;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

.reddit-alien {
	display: inline-block;
	vertical-align: top;
	width: 60px;
	height: 60px;
}

.reddit-alien img {
	width: 100%;
	height: 100%;
}

.reddit-info {
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}

.reddit-header {
	font-size: 20px;
}

.reddit-desc {
	margin-left: 4px;
}

/*.april-fools {
	color: #ccc;
}

.april-fools::after {
	content: " APRIL FOOLS";
	font-weight: bold;
	color: #F00;
}*/

.footer {
	text-align: center;
	padding-top: 5px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 130px;
	background-color: #E0E0E0;
}
