<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">
		<img src="{{ "/assets/img/logo.png" | relative_url }}" />
	  </a>
	</div>
	<div class="collapse navbar-collapse">
	  <ul class="nav navbar-nav">
		<li id="header-btn-index" class="header-btn"><a href="{% link index.html %}">Home</a></li>
		<li id="header-btn-downloads" class="header-btn"><a href="{% link downloads.md %}">Downloads</a></li>
		<li id="header-btn-changelog" class="header-btn"><a href="{% link changelog.md %}">Changelog</a></li>
		<li id="header-btn-credits" class="header-btn"><a href="{% link credits.md %}">Credits</a></li>
		<li id="header-btn-license" class="header-btn"><a href="{% link license.html %}">License</a></li>
		<li id="header-btn-lexicon" class="header-btn"><a href="{% link lexicon.html %}">Lexicon</a></li>
		<li id="header-btn-faq" class="header-btn"><a href="{% link faq.html %}">FAQ</a></li>
		<li id="header-btn-back" class="header-btn"><a href="https://vazkii.net">vazkii.net</a></li>
	  </ul>
	</div>
  </div>
</div>
