html {
  position: relative;
  min-height: 100%;
}

.container {
  margin-left: 0px;
  width: 100%
}

.content {
  margin-top: 100px;
  margin-bottom: 60px;
}

.navbar {
    background-color: #0d6214;
	border: none;
	box-shadow: 0px 3px 4px #000000, 0px 0px 25px #19ac46 inset;
}

.navbar-brand  {
  padding: 4px 20px;
  height: 80px;
}

.nav {
  margin-left: 20px;
  margin-top: 30px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #04410e;
  box-shadow: 0px -2px 8px #04410e;
}

.content {
	margin-bottom: 40px;
}

.carousel {
  height: 500px;
  width: 970px;
  margin-top: -18px;
  left: 50%;
  margin-left: -485px;
}

.carousel-caption {
  z-index: 10;
}
 
.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner {
	outline: double;
	box-shadow: 0px 0px 20px 8px #000000;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
}

.featurette-divider {
  margin: 20px 0;
}
 
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-image {
  box-shadow: 0px 0px 20px 2px #000000;
}

.youtube {
  width: 1200px;
}

iframe {
  width: 380px;
  height: 280px;
  margin: 15px 0px 40px 10px;
  box-shadow: -1px 0px 20px 2px #000000;
}

.dl {
	width: 220px;
}

.dl-counter {
	width: 150px;
}

.old-dl {
	margin-bottom: 3px;
}

#footer {
  position: fixed;
  bottom: 0;
  right: 25%;
  left: 25%;
  text-align: center;
  background-color: #a9e6b7;
  padding-top: 3px;
  box-shadow: 0px 0px 25px #19ac46 inset, 0px 0px 25px #19ac46;
}

#footer > a {
  text-decoration:none;
}

.padded {
	margin-left: 20px;
	margin-right: 20px;
	border: none;
}